/*#region Một vài điều chỉnh toàn trang*/
body{font-family: Arial; font-size: 15px;}
.demo-frame{width: 375px;}
/*#endregion*/

/*#region Chỉnh sửa slick slider*/
.slick-slider .slick-arrow,
.slick-slider .slick-dots{display:none !important}

.slick-tab .slick-slide{padding:5px 15px;text-align: center;}
.slick-tab .slick-current{border-bottom:solid 2px blue}

.slick-content .slick-slide{background:#ddd;padding:15px;min-height: 200px;}
/*#endregion*/